* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

#myCanvas {
    cursor: crosshair;
    position: fixed;
}

#Span {
    position: absolute;
    left: 45%;
    top: 5%;
    padding: 3px 7px 3px 7px;
    background-color: beige;
    border-style: groove;
    border-color: black;
    border-width: 1px;
    border-radius: 5%;
}

#hiddenDiv {

    border-style: inset;
}

#eraserMenu {
    border-style: inset;
}

